$colors: (
  common: (
    "white": #FFFFFF,
    "black": #000000,
    "placeholder": #4A5764,
    "selection": #3C66FA,
  ),
  color: (
    "white" : #000,
  ),
  body: (
    "primary": #ffffff,
  ),
  theme: (
    "primary": #CB3A1A,
    "secondary": #111111,
  ),
  heading: (
    "primary": #111111,
  ),
  text: (
    "body": #74787C,
    "p": #74787C,
  ),
  menu: (
    "primary": #fff,
  )
);
