@use '../../utils' as *;

.wishlist {

  @media (min-width: 1500px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
      max-width: 1410px;
    }
  }

  .table {
    --bs-table-bg: none;
    @media #{$md, $sm, $xs} {
      overflow: scroll;
    }
  }
  &-table{

    table {
      margin: 0;
      background-color: #F6F6F7;
      @media #{$md, $sm, $xs} {
        width: 900px;
      }
    }
    thead{

      tr {
        th {
          font-size: 16px;
          padding: 26px 0;
          font-weight: 600;
          border-bottom: none;
          text-transform: uppercase;
          color: var(--rr-common-white);
          background-color: var(--rr-theme-primary);


          &.wishlist-product-name {
            padding-left: 105px;
          }
        }
      }
    }

    tbody {

      &:not(:last-child) {
        border-bottom: 1px solid;
      }

      tr{
        vertical-align: baseline;

        &:last-child {
          border: none;
          td {
            border: none;
          }
        }

        td {
          padding: 0;
          padding-top: 30px;
          padding-bottom: 30px;
        }
        .product {

          &-remove {
            text-align: center;
            padding-left: 25px;
            padding-right: 15px;
            color: var(--rr-heading-primary);
          }

          &__wrapper{
            display: grid;
            align-items: center;
            grid-template-columns: 80px 1fr;
            grid-gap: 10px;
            column-gap: 25px;
            border-bottom: none;
          }

          &__name {

            .item {
              display: block;
              font-size: 14px;
              line-height: 24px;
              margin-bottom: 2px;
              color: var(--rr-theme-primary);
            }

            .title {
              font-size: 18px;
              line-height: 28px;
              font-weight: var(--rr-fw-medium);
            }
          }
          &__price{
            font-size: 16px;
            line-height: 26px;
            padding-right: 110px;
            font-weight: var(--rr-fw-medium);

            @media #{$md, $sm, $xs} {
              padding-right: 50px;
            }

            span{
              color: var(--rr-heading-primary);
            }
          }

          &__quantity {
            padding-right: 74px;

            @media #{$md, $sm, $xs} {
              padding-right: 20px;
            }
          }

          &__button {
            text-align: right;
            padding-right: 40px;

            .rr-btn-solid  {
              font-size: 14px;
              display: inherit;
              padding: 13.5px 34px;
            }
          }
        }
      }
    }
  }
}